APP_ENV=production
DB_HOST=localhost
DB_PORT=3306
DB_NAME=u238278696_regladoenergy
DB_USER=u238278696_adminenergy
DB_PASS=TU_PASSWORD_REAL_BD
JWT_SECRET=TU_JWT_SECRET_REAL
CORS_ALLOWED_ORIGINS=https://regladoenergy.com,https://regladogroup.com,https://www.regladoenergy.com,https://www.regladogroup.com
CONTACT_MAIL_TO=info@regladoenergy.com
CONTACT_MAIL_FROM=info@regladoenergy.com
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=ssl
SMTP_USER=info@regladoenergy.com
SMTP_PASS=TU_PASSWORD_SMTP
SMTP_TIMEOUT=15